.container {
	position: relative;
	padding: 30px;
	max-width: 640px;
	margin: 0 auto;
}

.gallery-wrapper{
	overflow-x: auto;
}

.gallery {
	display: flex;
	flex-flow: row nowrap;
	gap: 15px;
}

.gallery img{
	height: 350px;
	width: 350px;
}

.arrow-left,
.arrow-right {
	position: absolute;
	top: 0;
	left: 0;
	right: auto;
	bottom: 0;
	font-size: 20px;
	line-height: 250px;
	width: 30px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	border: none;
	background: linear-gradient(to left, transparent 0%, black 200%);
}